
.race-control-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
    width: 20rem;
    max-height: 64px;
    height: 64px;
    gap: 10px;
    transition: max-height 0.5s ease-in-out, gap 0.5s ease-in-out;
}

.race-control-container > * {
    /* position: absolute;
    top: 0; */
    margin-bottom: -74px;
}

.race-control-container:hover {
    max-height: 80px;
}
.race-control-container:hover > * {
    /* position: relative;
    top: 0; */
    opacity: 1;
    margin-bottom: 0px;
}

.race-control-container:hover .race-control-card {
    opacity: 1; /* Ensure opacity is set to 1 on hover */
}

.race-control-card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 64px;
    width: 20rem;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    animation: fade-in 0.3s; 
}

.race-control-card.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

.race-control-card.fade-in {
    opacity: 1;
}

.race-control-card.fade-out {
    opacity: 0;
}

.race-control-icon {
    display: flex;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.race-control-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 64px);
    height: 64px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    text-align: left;
    padding: 0.3rem;
}

.race-control-details .control {
    font-weight: bold;
}

.race-control-details .time {
    font-size: 0.6rem;
}

.race-control-details .message {
    font-size: 0.7rem;
}


.icon-flag {
    width: 42px;
    /* filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(90deg); */
    fill: var(--color-highlight);
}

.img-fia {
    width: 42px;
}
