.settings-text {
    color: var(--color-text-primary);
    font-size: 0.5rem;
    white-space: pre-wrap;
}

.settings-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    overflow-y: scroll;
    padding: 0.5rem;
    transition: all 0.5s;
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.settings-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings-section-header {
    color: var(--color-text-primary);
    font-size: 1rem;
}