

.team-radio-container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 80px;
    right: 16px;
}

@media (max-width: 600px) {
    .team-radio-container {
        top: 128px;
    }
}

.team-radio-container button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.team-radio-container button:hover {
    background-color: rgba(255, 255, 255, 0.20);
}  

.team-radio-container > * {
    margin-bottom: -48px;
}

.team-radio-container:hover > * {
    opacity: 1;
    margin-bottom: 10px;
}

.team-radio-container:hover .radio-card {
    opacity: 1;
}

.radio-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 48px;
    width: 200px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    animation: fade-in 0.3s; 
}

.radio-card span{
    font-size: 12px;
    font-weight: bold;
}

.radio-card.hidden {
    opacity: 0;
}


.radio-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
}

.radio-card-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2px 4px;
    gap: 10px;
}

.waveform-container {
    flex-grow: 1;
}
 