.session-selector {
    display: flex;
    align-items: center;
    /* position: absolute; */
    gap: 8px;
    max-width: 376px;
}

.session-selector-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    /* border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    /* gap: 8px; */
    height: 46px;
    overflow: hidden;
    width: 320px;
    flex-shrink: 0; 
}

.dropdown,
.dropdown-select {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-primary);
    font-size: 12px;
    height: 46px;
}

.dropdown-year {
    /* width: 100px; */
    flex: 0.71;
    border: none;
    border-color: var(--color-highlight);
}

.dropdown-circuit {
    /* width: 200px; */
    flex: 1.55;
    border-top: none;
    border-bottom: none;
    border-color: var(--color-primary);
}

.dropdown-session {
    /* width: 150px; */
    flex: 0.975;
    border: none;
    border-color: var(--color-highlight);
}
.button-live {
    border: none;
    background-color: #db4437; 
    color: var(--color-text-primary);
    height: 32px;
    width: 32px;
    padding: 0;
    flex-shrink: 0;
    /* font-size: 14px; */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.button-live:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

.button-live:hover:not(:disabled) {
    background-color: #c0392b;
}

.icon-live {
    width: 18px;
    height: 18px;
    fill: var(--color-text-primary);
}
