.session-selector {
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    left: 32px;
    /* padding: 32px; */
    gap: 8px;
    z-index: 1000; /* Ensure it sits above the map */
}

.session-selector-dropdowns {
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    /* border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    /* gap: 8px; */
    flex-grow: 1;
    overflow: hidden;
}

.dropdown,
.dropdown-select {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-primary);
}

.dropdown-year {
    width: 100px; /* Year dropdown is narrower */
    border: none;
    border-color: var(--color-highlight);
}

.dropdown-circuit {
    width: 200px; /* Circuit dropdown is wider */
    border-top: none;
    border-bottom: none;
    border-color: var(--color-primary);
}

.dropdown-session {
    width: 150px; /* Session dropdown is medium-sized */
    border: none;
    border-color: var(--color-highlight);
}
.session-selector button {
    border: none;
    background-color: #4285f4; 
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.session-selector button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

.session-selector button:hover:not(:disabled) {
    background-color: #357ae8;
}
